<!-- Footer Block -->
<div class="cwt__block cwt__footer">
    <div class="cwt__footer__bottom">
        <nav class="nav nav-inline m-b-2 pull-md-right">
            <a href="javascript: void(0);" class="cwt__footer__link m-r-1">Teaser</a>
            <a href="javascript: void(0);" class="cwt__footer__link m-r-1">Portfolio</a>
            <a href="javascript: void(0);" class="cwt__footer__link m-r-1">Features</a>
            <a href="javascript: void(0);" class="cwt__footer__link m-r-1">About Us</a>
            <a href="javascript: void(0);" class="cwt__footer__link">Contact Us</a>
        </nav>
        <div class="cwt__footer__company">
            <img class="cwt__footer__company-logo" src="content/images/logo-itinterview.png" title="ITInterview" />
                <span>
                    ©2016 <a href="http://www.itinterview.co.kr/" class="cwt__footer__link" target="_blank">ITInterview</a>
                    <br />
                    All rights reserved
                </span>
        </div>
    </div>
</div>
