<div class="cwt__footer__bottom">
    <nav class="nav nav-inline m-b-2 pull-md-right">
        <a href="javascript: void(0);" class="cwt__footer__link m-r-1">MailTo</a>
        <a href="javascript: void(0);" class="cwt__footer__link m-r-1">FAQ</a>
        <a href="javascript: void(0);" class="cwt__footer__link m-r-1">소셜아이콘</a>
    </nav>
    <div class="cwt__footer__company">
        <img class="cwt__footer__company-logo" src="content/images/logo-itinterview.png" title="ITInterview"/>
                    <span>
                        ©2017 <a href="http://www.itinterview.co.kr/" class="cwt__footer__link" target="_blank">ITInterview</a>
                        <br/>
                        All rights reserved
                    </span>
    </div>
</div>
