<!-- Footer -->
<footer class="footer">
    <div class="column">
        <h3 class="widget-title">
            Need Help?
            <small>궁금한 점이 있으면 문의해 주세요</small>
        </h3>
        <div class="cards">
            <a href="mailTo:postmaster@itinterview.co.kr" class="email" data-toggle="tooltip" data-placement="top" title="Email">
                <i class="material-icons email"></i>
            </a>
        </div>
    </div><!-- .column -->
    <div class="column">
        <h3 class="widget-title">
            Subscription
            <small>이메일을 등록하고 새로운 문제를 받아보세요</small>
        </h3>
        <form action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=1194bb7544" method="post" target="_blank" class="subscribe-form" novalidate>
            <input type="email" class="form-control" name="EMAIL" placeholder="Your e-mail">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1" value=""></div>
            <button type="submit"><i class="material-icons send"></i></button>
        </form>
    </div><!-- .column -->

    <div class="column">
        <p class="text-sm">Social Networks</p>
        <div class="social-bar text-center space-bottom">
            <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
                <i class="socicon-skype"></i>
            </a>
            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="socicon-facebook"></i>
            </a>
            <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                <i class="socicon-googleplus"></i>
            </a>
            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="socicon-twitter"></i>
            </a>
            <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="socicon-instagram"></i>
            </a>
            <!-- Scroll To Top Button -->
            <div class="scroll-to-top-btn"><i class="material-icons trending_flat"></i></div>
        </div><!-- .social-bar -->
        <p class="copyright">&copy; 2016. IT Interview <i class="text-danger material-icons favorite"></i> All right reserved.</p>
    </div><!-- .column -->


</footer><!-- .footer -->
