<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>[<b>{{vm.account.login}}</b>] 님의 패스워드를 변경합니다</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>패스워드가 성공적으로 변경되었습니다!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>오류가 발생했습니다!</strong> 패스워드를 변경할 수 없습니다.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                입력하신 패스워드가 서로 다릅니다!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">패스워드 입력</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            패스워드를 입력해 주세요.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            패스워드는 최소 4글자 이상을 입력해 주세요.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            패스워드는 50글자 이내로 입력해 주세요.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">패스워드 확인</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            패스워드를 입력해 주세요.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            패스워드는 최소 4글자 이상을 입력해 주세요.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            패스워드는 50글자 이내로 입력해 주세요.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
