 <label>{{ vm.questionMasterForUser.questionMasterList[3].title }}</label>

<div ng-repeat="questionOption in vm.questionMasterForUser.questionMasterList[3].answersForUsersSet track by questionOption.generatedId">
    <p>
    <div style="width: 100%" class="btn-group" data-toggle="buttons">
        <label style="width: 100%" ng-class="(formData.answerFour == questionOption.generatedId ? 'btn btn-default-outline active' : 'btn btn-default-outline')">
            <input type="radio" ng-model='formData.answerFour' ng-value="questionOption.generatedId" ui-sref="tryQuestionNew.five">
            {{ questionOption.optionText }}
        </label>
    </div>
    </p>
</div>

