<label>{{ vm.questionList[3].title }}</label>

<div ng-repeat="questionOption in vm.questionList[3].wrongAnswers track by questionOption.id">
    <p>
    <div style="width: 100%" class="btn-group" data-toggle="buttons">
        <label style="width: 100%" ng-class="(formData.answerfour == questionOption.id ? 'btn btn-default-outline active' : 'btn btn-default-outline')">
            <input type="radio" ng-model='formData.answerfour' ng-value="questionOption.id" ui-sref="tryQuestionNew.five">
            {{ questionOption.optionText }}
        </label>
    </div>
    </p>
</div>

