<label>What's Your Console of Choice?</label>

<p>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default-outline">
        <input type="radio" ng-model="formData.type" value="xbox" ui-sref="tryQuestionNew.two">
        I like XBOX
    </label>
</div>
</p>
<p>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default-outline">
        <input type="radio" ng-model="formData.type" value="ps" ui-sref="tryQuestionNew.two">
        I like PS4
    </label>
</div>
</p>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.payment" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
