
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUploadQuestionLabel">Create or edit a Up Question </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<!--        <div class="form-group" ng-show="vm.uploadQuestion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.uploadQuestion.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="control-label" for="field_title">문제 제목</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.uploadQuestion.title"
                     />
        </div>
<!--        <div class="form-group">
            <label class="control-label" for="field_delYn">Del Yn</label>
            <input type="text" class="form-control" name="delYn" id="field_delYn"
                    ng-model="vm.uploadQuestion.delYn"
                     />
        </div>-->
<!--        <div class="form-group">
            <label class="control-label" for="field_cTime">C Time</label>
                <div class="input-group">
                    <input id="field_cTime" type="text" class="form-control" name="cTime" datetime-picker="{{dateformat}}" ng-model="vm.uploadQuestion.cTime" is-open="vm.datePickerOpenStatus.cTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('cTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>-->

<!--        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.uploadQuestion.author" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>-->
<!--        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.uploadQuestion.status" ng-options="commonCode as commonCode.id for commonCode in vm.commoncodes track by commonCode.id">
                <option value=""></option>
            </select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
