
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUploadQuestionLabel">문제를 출제해 주세요</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<!--        <div class="form-group" ng-show="vm.uploadQuestion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.uploadQuestion.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label" for="field_title">문제 제목</label>
            <textarea style="resize:none" type="text" class="form-control" name="title" id="field_title"
                      rows="4" ng-model="vm.uploadQuestion.title" />
        </div>

        <div class="form-group row panel-body">
            <label class="form-control-label" for="field_title">예상 난이도</label>
            <div class="margin-bottom-50">
                <input type="text" id="difficulty-slider" name="difficulty" ng-model="vm.uploadQuestion.difficulty" data-ng-init="scrollBarInit()"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label" for="field_title">정답</label>
            <button type="button" class="btn btn-xs btn-info margin-inline" ng-click="addUpRightAnswerInputBox()">정답항목추가</button>
            <div data-ng-repeat="upRightAnswer in upRightAnswers track by $index">
                <div>
                    <textarea style="resize:none" type="text" class="form-control" name="optionText"
                      rows="2" ng-model="vm.upRightAnswers[$index].optionText" />
                </div>
            </div>
            <button type="button" class="btn btn-xs btn-info margin-inline" ng-click="removeUpRightAnswerInputBox()">정답항목삭제</button>
        </div>

        <div class="form-group row">
            <label class="form-control-label" for="field_title">오답</label>
            <button type="button" class="btn btn-xs btn-info margin-inline" ng-click="addUpWrongAnswerInputBox()">오답항목추가</button>
            <div data-ng-repeat="upWrongAnswer in upWrongAnswers track by $index">
                <div>
                    <textarea style="resize:none" type="text" class="form-control" name="optionText"
                              rows="2" ng-model="vm.upWrongAnswers[$index].optionText" />
                </div>
            </div>
            <button type="button" class="btn btn-xs btn-info margin-inline" ng-click="removeUpWrongAnswerInputBox()">오답항목삭제</button>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
